<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> -->

  <link rel="stylesheet" href="./index.css">

  <title>Adam's Health - blood pressure</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar .navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="./index.html">Adam's Health</a>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./bloodpressure.html">Blood Pressure</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./weight.html">Weight</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="container pt-2">
  <!-- <div class="container pt-2" id="bloodpressureApp"> -->
    <div class="row" >
      <div class="col-sm">
        <h1>Blood Pressure</h1>
        <!-- <h1>{{title}}</h1> -->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 pr-2">
        <form>
          <div class="mb-3">
            <label for="dateValue" class="form-label">Date</label>
            <input type="date" class="form-control" v-model="dateValue">
          </div>
          <div class="mb-3">
            <label for="systolicValue" class="form-label">Systolic</label>
            <input type="number" class="form-control" v-model="systolicValue">
          </div>
          <div class="mb-3">
            <label for="diastolicValue" class="form-label">Diastolic</label>
            <input type="number" class="form-control" v-model="diastolicValue">
          </div>
          <button type="button" class="btn btn-primary" v-on:click="addEntry()">Add Entry</button>
        </form>
      </div>
      <!-- <div class="col-sm-5 text-center">
        <h3 class="text-muted">My Entries</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Systolic</th>
              <th scope="col">Diastolic</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="entry in entries" :key="entry.date">
              <td>{{entry.date}}</td>
              <td>{{entry.systolic}}</td>
              <td>{{entry.diastolic}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-3">
        <div class="row mb-5">
          <h3 class="text-center text-muted">Average Systolic</h3>
          <h2 class="text-center" v-bind:class="{ 
            'text-success': averageSystolic < 120,
            'text-warning': averageSystolic >= 120,
            'text-danger': averageSystolic >= 130 
          }">
            {{averageSystolic}}
          </h2>
        </div>
        <div class="row">
          <h3 class="text-center text-muted">Average Diastolic</h3>
          <h2 class="text-center" v-bind:class="{ 
            'text-success': averageDiastolic < 85,
            'text-warning': averageDiastolic >= 85,
            'text-danger': averageDiastolic >= 90 
          }">
            {{averageDiastolic}}
          </h2>
        </div> -->
      </div>
    </div>
  </div>
</body>
<!-- <script>
  var bloodpressureApp = new Vue({
    el: '#bloodpressureApp',
    data: {
      title: 'Blood Pressure',
      // dateValue: '',
      // systolicValue: 0,
      // diastolicValue: 0,
      // entries: []
    },
    // methods: {
    //   addEntry: function() {
    //     this.entries.push({
    //       date: this.dateValue,
    //       systolic:parseInt(this.systolicValue),
    //       diastolic:parseInt(this.diastolicValue)
    //     });
    //     this.dateValue = '';
    //     this.systolicValue = 0;
    //     this.diastolicValue = 0;
    //   }
    // },
    // computed: {
    //   averageSystolic: function() {
    //     const length = this.entries.length;
    //     if (length < 1) return 0;
    //     if (length === 1 ) return this.entries[0].systolic;
    //     return this.entries.reduce((a, b) => a.systolic + b.systolic) / length;
    //   },
    //   averageDiastolic: function() {
    //     const length = this.entries.length;
    //     if (length < 1) return 0;
    //     if (length === 1 ) return this.entries[0].diastolic;
    //     return this.entries.reduce((a, b) => a.diastolic + b.diastolic) / length;
    //   }
    // }
  })
</script> -->
</html>